<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	 <Appenders>
		<Console name="ConsoleAppender" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{MM:dd HH:mm:ss.SSS} [%t] [%level] [%logger{36}] - %msg%n" />
		</Console>
		
		<File name="FileAppender" fileName="company-service.log">
			<PatternLayout pattern="%d{MM:dd HH:mm:ss.SSS} [%t] [%level] [%logger{36}] - %msg%n" />
		</File>
	</Appenders>
	
	<Loggers>
		<!-- Logging custom package -->
		<Logger name="com.company" level="info" additivity="false">
			<AppenderRef ref="ConsoleAppender"></AppenderRef>
			<AppenderRef ref="FileAppender"></AppenderRef>
		</Logger>
		<Root level="info">
      		<AppenderRef ref="ConsoleAppender"></AppenderRef>
			<AppenderRef ref="FileAppender"></AppenderRef>
    	</Root>
	</Loggers>
</Configuration>